{% extends 'base.html.twig' %}

{% block body %}

    <div id="page-wrapper">
        
        {% for label, messages in app.flashes(['success', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}        
        
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">My meals and calories</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                  <div class="panel-heading">Filter Meal</div>
                  <div class="panel-body">
                    {{ form_start(form) }}
                    <div class="form_group">
                        <div class="col-md-8 col-md-offset-2">
                          {{ form_row(form.from, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form_group">
                        <div class="col-md-8 col-md-offset-2">
                        {{ form_row(form.to, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                        <div class="form-group">
                        <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-btn fa-user"></i> Search
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                  </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <a href="{{ path('meal_add') }}"><button type="button" class="btn btn-primary btn-lg btn-block">Add Meal</button></a>
            </div>
            <!-- /.col-lg-12 -->
        </div>
                  
                  
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Breakfast</th>
                                    <th>Lunch</th>
                                    <th>Dinner</th>
                                    <th>Calories</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for meal in meals %}
                                <tr class="odd gradeX">
                                    <td>{{ meal.meal_date|date('Y-m-d') }}</td>
                                    <td><a href="{% if meal.breakfast_data %} {{ path('meal_edit',{'id': meal.breakfast_id}) }} {% endif %}">{{ meal.breakfast_data }}</a></td>
                                    <td><a href="{% if meal.launch_data %} {{ path('meal_edit',{'id': meal.launch_id}) }} {% endif %} ">{{ meal.launch_data }}</a></td>
                                    <td><a href="{% if meal.dinner_data %} {{ path('meal_edit',{'id': meal.dinner_id}) }} {% endif %}">{{ meal.dinner_data }}</a></td>
                                    <td>{% if meal.calories > app.user.calories %}
                                            <font color="red">{{ meal.calories }}
                                            {% else %}
                                                <font color="green">{{ meal.calories }}
                                            {% endif %}
                                    </td>
                                </tr>
                                {%- endfor -%}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>        
    </div>
    <!-- /#page-wrapper -->
    
{% endblock %}
