<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form"></div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="{{ path('dashboard') }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>

            {% if not is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('meal_index') }}"><i class="fa fa-table fa-fw"></i> Meal</a>
                </li>
            {% endif %}            

            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="#"><i class="fa fa-wrench fa-fw"></i> Settings<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ path('set_calories') }}">Calories</a>
                        </li>
                    </ul>
                </li>
            {% endif %}            
          
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
