{% extends 'base.html.twig' %}

{% block body %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Welcome to Kalories App</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">
            <div class="col-lg-6">
                Your application to track your meals and calories.
            </div>
            <!-- /.col-lg-12 -->
        </div>
   
    </div>
    <!-- /#page-wrapper -->
    
{% endblock %}
