{% extends 'base.html.twig' %}

{% block body %}

    <div id="page-wrapper">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-12 form-group">
                <h2>Select a user to view/edit sum of day's calories</h2>
            </div>
            <div class="col-lg-4 form-group">
                    {{ form_row(form.id, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div id="calories" class="col-lg-4 form-group" style="display:none">
                {{ form_row(form.calories, { 'attr': {'class': 'form-control'},'value' : '0' }) }}
            </div>
            <div id="btncalories" class="col-lg-6 form-group" style="display:none">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-btn fa-user"></i> Save
                </button>
            </div>
        </div>
        {{ form_end(form) }}
        
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">List user/calories</div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Calories</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr class="odd gradeX">
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.calories }}</td>
                                </tr>
                                {%- endfor -%}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    
    
{% endblock %}

{% block javascripts %}
    <script>
        $('#usercalories_id').change(function () {
            var userSelector = $(this);
            
            if( userSelector.val() == "")
            {
                    $('#calories').css("display",'none');
                return false;
            }
            
            $.ajax({
                url: "{{ path('api_get_calories_by_user') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    userid: userSelector.val()
                },
                success: function (calories) {
                    var userSelect = $("#usercalories_id");

                    $('#calories').css("display",'');
                    $('#btncalories').css("display",'');
                    $('#usercalories_calories').val(calories.calories );
                },
                error: function (err) {
                    alert("An error ocurred while loading data ...");
                }
            });
        });
        
    </script>{% endblock %}
